{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
  <img src= {{"/img/common/profile.jpg"}} class="user"></img>
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
   <a class="button outline big" href="https://github.com/Benjamin00" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);" target = "_blank">View my Github</a>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}}
{{end}}
